@font-face {
  font-family: "icons-turn-arrow";
  src: url("./fonts/turn-arrow.eot") format("embedded-opentype"),
  url("./fonts/turn-arrow.woff") format("woff"),
  url("./fonts/turn-arrow.ttf") format("truetype");
}

html,body{
  height:100%;
  width:100%;
  padding:0;
  margin:0 ;
  font-family:Arial,Hiragino Sans GB,冬青黑,Microsoft YaHei,微软雅黑,SimSun,宋体,Helvetica,Tahoma,Arial sans-serif;
  background-color:#eee;
}
.headerBox{
  position:fixed;
  top:0;
  left:0;
  z-index:99;
  height:30px;
  width:100%;
  padding:10px;
  text-align:center;
  font-size:20px;
  color:#fff;
  background-color:#000;
}
.highlight{
  color:#ffdd00!important;
}
.titleBox{
  display:inline-block;
}
.titleBox a{
  margin-right:6px;
  color:#fff;
  text-decoration: none;
}
.titleBox a:hover{
  cursor:pointer;
  color:#ffdd00;
}
.pageTitle{
  margin-right:20px;
  font-size:25px;
}
.contentBox{
  margin:0 auto;
  margin-top:60px;
  width:1300px;
  height:100%;

}
ul{
  list-style: none;
}
ul li{
  display:inline-block;

}
.imageBox{
  padding:5px;
  margin-bottom:10px;
  background-color:#fff;
}
.lazy{
  height:200px;
  width:300px;
}
.lazy:hover{
  cursor:pointer;
  opacity:0.7;
}

.footerBox{
  position:relative;
  top:100%;
  width:100%;
  height:25px;
  margin:0 auto;
  padding:5px 0;
  text-align:center;
  font-size:16px;
  color:#fff;
  background-color:#000;
}
.toTop{
  position:fixed;
  right:30px;
  bottom:30px;
  color:#000;
  font-size:14px;
  cursor:pointer;
  -moz-transition: opacity 0.5s ease-in-out 0.5s;
  -webkit-transition: opacity 0.5s ease-in-out 0.5s;
  -o-transition: opacity 0.5s ease-in-out 0.5s;
  transition: opacity 0.5s ease-in-out 0.5s;
}
.toTopDis{
  opacity:0;
}
.sectionDiv{
  position: relative;
  width:100%;
  height:100%;
  background-color:red;
}
figure{
  position:absolute;
  width:280px;
  height:260px;
  padding:20px;
  background-color:#fff;
  cursor:pointer;
}

figcaption{
  width:100%;
  margin:0 auto;
  text-align:center;
  color:#7f7f7f;
}
.image{
  position:absolute;
  width:240px;
  height:260px;
  margin: 0 auto;
  text-align:center;
  transform-origin: 0 50% 0;
  transform-style: preserve-3d;
  transition: transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;
}
.imageInverse{
  transform: translate(280px) rotateY(180deg);
}
.imageSize{
  width:240px;
  height:240px;
}
.imageBack{
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  color: #a7a0a2;
  font-size: 22px;
  line-height: 1.25;
  text-align: center;
  background-color: #fff;
  box-sizing: border-box;
  transform: rotateY(180deg) translateZ(1px);
  backface-visibility: hidden;

}
.imageBack p{
  margin:100px 60px;
  width:180px;
  text-align:center;
}

.controllerNav{
  position: absolute;
  left: 0;
  bottom: 30px;
  z-index: 101;
  width: 100%;
  text-align: center;

}
.controllerUnit{
  display:inline-block;
  width:30px;
  height:30px;
  margin:0 10px;
  text-align:center;
  vertical-align:middle;
  cursor:pointer;
  background-color:#aaa;
  border-radius:50%;
  transform:scale(0.5);
  transition: transform .6s ease-in-out, background-color .3s;
}
.isCenter{
  transform:scale(1);
  background-color:#888;
}
.isCenter::after{
  content: "\e600";
  font-family: "icons-turn-arrow";
  /*content:"@";*/
  color:#fff;
  font-size:80%;
  line-height:30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.isInverse{
  background-color:#555;
  transform: rotateY(180deg);
}


